<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ title }}</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!-- Le styles -->
<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="/static/bootstrap/css/darkstrap.css" rel="stylesheet">
<link href="/static/bootstrap/css/custom.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="row">
			{{response}}
		</div>
	<footer class="footer">
		<div class="pull-right">
			<a href="http://rainzoo.com/feedback.html"> Report issues, feedback </a>
		</div>
		<p>Read good stories. Etch silly dreams. Pursue them even if you
			chuckle looking back.</p>		
		<hr>
	</footer>
		
	</div>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-button.js"></script>
</script>
</body>

</html>
